.font_Format_1 {
  /* SEÇÃO 1 */

  position: relative;
  left: 1%;
  top: 3%;
  width: 250px;
  height: 200px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 40;
  font-size: 60px;
  color: #6b6256;

  transform: rotate(-90deg);
}

.font_Format_2 {
  /* SEÇÃO 2 */

  position: absolute;
  left: 72%;
  width: 300px;
  height: 130px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 40;
  font-size: 60px;

  letter-spacing: 0.0875em;

  color: #c9f2f7;
}

.font_Format_3 {
  /* SEÇÃO 3 */

  position: absolute;
  left: 40%;
  width: 300px;
  height: 130px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 40;
  font-size: 60px;

  letter-spacing: 0.0875em;
  line-height: 75px;

  color: #6b6256;
}

.font_menu {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 40;
  font-size: 60px;

  color: #6b6256;
}

.font_Format_Copyright {
  font-size: small;
  font-family: sans-serif;
}

.image {
  height: 33%;
  width: 200px;
}
