.font_menu {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 40;
  font-size: 60px;

  color: #6b6256;
}

.font_Format_Copyright {
  font-size: small;
  font-family: sans-serif;
}

.image_1 {
  width: 100%;
  height: calc(width * 0, 4864);
  position: absolute;
  z-index: 1;
}

.image_2 {
  width: 100%;
  height: calc(width * 0, 4864);
  position: absolute;
  z-index: 2;
}

.image_3 {
  width: 100%;
  height: calc(width * 0, 4864);
  position: absolute;
  z-index: 3;
}

.image_letras {
  width: 100%;
  height: calc(width * 0, 4864);
}

.image_letra_1 {
  position: absolute;
  z-index: 4;
  opacity: 0.75;

  animation: ease-in andando_1;
  animation-timeline: scroll(y);
}

.image_letra_2 {
  position: absolute;
  z-index: 4;
  opacity: 0.75;

  animation: ease-in-out andando_1;
  animation-timeline: scroll(y);
}

.image_letra_3 {
  position: absolute;
  z-index: 4;
  opacity: 0.75;

  animation: ease-out andando_1;
  animation-timeline: scroll(y);
}

.image_letra_4 {
  position: absolute;
  z-index: 5;
  opacity: 0.5;

  animation: ease-in andando_2;
  animation-timeline: scroll(y);
}

.image_letra_5 {
  position: absolute;
  z-index: 4;
  opacity: 0.75;

  animation: ease-in-out andando_3;
  animation-timeline: scroll(y);
}

.image_letra_6 {
  position: relative;
  z-index: 4;
  opacity: 0.75;

  animation: ease-in andando_4;
  animation-timeline: scroll(y);
}

@keyframes andando_1 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(300px);
  }
}

@keyframes andando_2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120px);
  }
}

@keyframes andando_3 {
  from {
    transform: translateX(0) translateY(0) scale(1);
  }
  to {
    transform: translateX(120px) translateY(300px) scale(0.7);
  }
}

@keyframes andando_4 {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(300px) scale(0.7);
  }
}
