.font_overall {
  font-family: "Oswald", serif;
  font-style: normal;
  font-optical-sizing: auto;

  font-weight: 40;
  font-size: 40px;

  color: white;
}

.font_Format_Copyright {
  font-size: small;
  font-family: "Oswald", serif;
  font-style: normal;
  font-optical-sizing: auto;
}

.image_1 {
  width: 100vw;
  height: calc(width * 0.4);
  max-height: 100vh;

  position: absolute;
  z-index: 1;
}
