body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  background-color: #2a3130;

  width: 100%;
}

header {
  display: flex;
  justify-content: top;
  align-items: center;

  width: 100%;
}

h1 {
  width: 100%;
}

main {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  /* resolução website - remover comentário antes de publicar*/
  width: 100%;
  height: calc(width * 0, 4864);
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* resolução rodapé - remover comentário antes de publicar*/
  height: 50%;
  width: 100%;

  background-color: #ff0035;
}
