.section_1 {
  background-color: #c9f2f7;

  height: 33%;
  width: 100vw;
}

.section_2 {
  background-color: #6b6256;

  height: 33%;
  width: 100vw;
}

.section_3 {
  background-color: #c9f2f7;

  height: 33%;
  width: 100vw;
}

.box_H {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: rgb(138, 138, 138);

  color: whitesmoke;
}

.box_V {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  background-color: rgb(95, 95, 95);
}

.box_Footer_A {
  height: 100%;
  width: 100%;
}

.box_Footer_B {
  height: 80%;
  width: 33%;
}
