body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  background-color: #00ffca;

  width: 100%;
}

header {
  display: flex;
  justify-content: top;
  align-items: center;

  width: 100%;
}

h1 {
  width: 100%;
}

main {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  /* resolução website - remover comentário antes de publicar*/
  height: 826px;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* resolução rodapé - remover comentário antes de publicar*/
  height: 200px;
  width: 100%;

  background-color: #00ffca;
}
