body {
  background-color: #002641;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ff7f00;
}

h1 {
  width: 100%;
  height: auto;
}

main {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  /* resolução website - remover comentário antes de publicar*/
  width: 100%;
  height: 1800px;
}

footer {
  display: flex;
  justify-content: center;

  /* resolução rodapé - remover comentário antes de publicar*/
  width: 100%;
  height: 600px;

  background-color: #002641;
}
