.font_overall {
  font-family: "Gayathri", serif;
  font-style: normal;
  font-optical-sizing: auto;

  font-weight: 40;
  font-size: 40px;

  color: white;
}

.font_Format_Copyright {
  font-size: small;
  font-family: "Gayathri", serif;
  font-style: normal;
  font-optical-sizing: auto;
}

.image_1 {
  left: 0%;
  height: 103.5%;
  min-height: fit-content;
}

.box_image_2a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_2a {
  height: 600px;
  width: 100%;

  left: 0%;
  background-color: #00c25d;

  position: absolute;
  z-index: 3;
}

.image_2b {
  width: auto;
  height: fit-content;
  scale: 0.5;

  border: 5px solid red;

  z-index: 0;
  left: 0%;
}

@media screen and (aspect-ratio < 1.13) {
  .image_2b {
    width: auto;
    height: fit-content;
    border: 5px solid blue;
    scale: 0.25;

    z-index: 0;
    left: 0%;
  }
}

.image_2a:hover {
  animation: section_2 6s infinite;
}

@keyframes section_2 {
  0% {
    left: 0%;
  }
  5% {
    left: -18%;
  }

  15% {
    left: -20%;
  }

  22% {
    left: -20%;
    opacity: 100%;
  }

  30% {
    left: 0%;
    opacity: 0%;
  }

  100% {
    left: 0%;
    opacity: 0%;
  }
}
