.font_overall {
  font-family: "Oswald", serif;
  font-style: normal;
  font-optical-sizing: auto;

  font-weight: 40;
  font-size: 40px;

  color: white;
}

.font_Format_Copyright {
  font-size: small;
  font-family: "Oswald", serif;
  font-style: normal;
  font-optical-sizing: auto;
}

.image_1 {
  display: flex;

  height: 103.5%;
  min-height: fit-content;
}

.image_2a,
.box_image_2a {
  animation: section_2_opacity alternate infinite 12s;
  height: 600px;
}

.image_2a {
  animation: section_2_Slide alternate infinite 12s;
  position: relative;
  z-index: 4;
}

.box_image_2a {
  background-color: #00c25d;
  width: 100%;
  position: absolute;
  z-index: 3;
}

.image_2b {
  height: 600px;
  width: 100%;
  position: absolute;
  z-index: 0;
  left: 0%;
}

.image_2c {
  height: 600px;
  width: 100%;

  opacity: 12.5%;

  left: 0%;

  position: absolute;
  z-index: 1;
}

@keyframes section_2_Slide {
  0% {
    transform: translateX(90px);
  }
  25% {
    transform: translateX(90px);
  }

  30% {
    transform: translateX(-30px);
  }

  35% {
    transform: translateX(90px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes section_2_opacity {
  25% {
    opacity: 100%;
  }

  30% {
    opacity: 50%;
  }

  35% {
    opacity: 0%;
  }

  100% {
    opacity: 0%;
  }
}
