body {
  background-color: black;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: black;
}

h1 {
  width: 100%;
  height: 100%;
  margin: 0px;
}

main {
  /* resolução website - remover comentário antes de publicar*/
  height: 2500px;
  width: 100%;
}

footer {
  /* resolução rodapé - remover comentário antes de publicar*/
  margin: 0px;
  height: 650px;
  width: 100%;

  background-color: #666666;
}
